.title {
    position: relative;
    margin-top: -9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: white;
}

.subtitle {
    position: relative;
    margin-top: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    width: 100vw;
    height: 50vh;
}


img.active {
    animation: 0.5s slide ease-in
}

.faded {
    opacity: 0.4;
}

@keyframes slide{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}